/* .cuslist{
        scroll-behavior: smooth;
    } */
 
    @media screen and (max-width:1200px){
    .cuslist{
        width: 900px;
    }
}

 @media screen and (max-width:900px){
    .cuslist{
        width: 80%;
    }
}

@media screen and (max-width:800px){
    .cuslist{
        gap: 45px;
    }
    .cards{
      width: 100px;
    }
} 

 @media screen and (max-width:600px){
    .cuslist{
        width: 100%;
    }
} 


@media (max-width: 768px) {
  .cuslist {
    width: 100% !important;
    gap: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 480px) {
  .cuslist {
    gap: 25px !important;
    width: 90%;
  }

  .cuslist > div {
    width: 100px !important;
  }

  .cuslist img {
    width: 40px !important;
    height: 40px !important;
  }

  .cusH {
    font-size: 14px !important;
  }

  .cusM {
    font-size: 12px !important;
  }
   .cards{
      width: 90px;
    }
    .cards img{
      width: 40px;
    }
}



/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}